<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hunmengwl.projectlove.mapper.NoticeMapper" >
  <resultMap id="BaseResultMap" type="com.hunmengwl.projectlove.model.Notice" >
    <constructor >
      <idArg column="notice_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="notice_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="notice_content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="notice_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="notice_praise" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dict_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    notice_id, notice_name, notice_content, notice_time, notice_praise, dict_type, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_notice
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_notice
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hunmengwl.projectlove.model.Notice" >
    insert into tb_notice (notice_id, notice_name, notice_content, 
      notice_time, notice_praise, dict_type, 
      user_id)
    values (#{noticeId,jdbcType=INTEGER}, #{noticeName,jdbcType=VARCHAR}, #{noticeContent,jdbcType=VARCHAR}, 
      #{noticeTime,jdbcType=TIMESTAMP}, #{noticePraise,jdbcType=INTEGER}, #{dictType,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hunmengwl.projectlove.model.Notice" >
    insert into tb_notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="noticeId != null" >
        notice_id,
      </if>
      <if test="noticeName != null" >
        notice_name,
      </if>
      <if test="noticeContent != null" >
        notice_content,
      </if>
      <if test="noticeTime != null" >
        notice_time,
      </if>
      <if test="noticePraise != null" >
        notice_praise,
      </if>
      <if test="dictType != null" >
        dict_type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="noticeId != null" >
        #{noticeId,jdbcType=INTEGER},
      </if>
      <if test="noticeName != null" >
        #{noticeName,jdbcType=VARCHAR},
      </if>
      <if test="noticeContent != null" >
        #{noticeContent,jdbcType=VARCHAR},
      </if>
      <if test="noticeTime != null" >
        #{noticeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="noticePraise != null" >
        #{noticePraise,jdbcType=INTEGER},
      </if>
      <if test="dictType != null" >
        #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hunmengwl.projectlove.model.Notice" >
    update tb_notice
    <set >
      <if test="noticeName != null" >
        notice_name = #{noticeName,jdbcType=VARCHAR},
      </if>
      <if test="noticeContent != null" >
        notice_content = #{noticeContent,jdbcType=VARCHAR},
      </if>
      <if test="noticeTime != null" >
        notice_time = #{noticeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="noticePraise != null" >
        notice_praise = #{noticePraise,jdbcType=INTEGER},
      </if>
      <if test="dictType != null" >
        dict_type = #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hunmengwl.projectlove.model.Notice" >
    update tb_notice
    set notice_name = #{noticeName,jdbcType=VARCHAR},
      notice_content = #{noticeContent,jdbcType=VARCHAR},
      notice_time = #{noticeTime,jdbcType=TIMESTAMP},
      notice_praise = #{noticePraise,jdbcType=INTEGER},
      dict_type = #{dictType,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </update>
</mapper>